*{
    padding: 0;
    margin: 0;
}
.Dash{
    margin-left: 2rem;
}
.top-1{
    height: 8rem;
    display: flex;
    align-items: center;
}

.assignment{
 padding-top: 6rem;
 display: grid;
 gap: 2rem;   
}

.main_part{
    width: 56rem;
    height: 26rem;
    padding-top: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 74px -17px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    gap: 1rem;
}


.students_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle1{
    height: 3rem;
    width: 3rem;
    border: 1px solid #999;
    border-radius: 50%;
}

.students_profile{
    width: 40rem;
    padding: 0.5rem 2rem 1rem 0.5rem;
    border: 1px solid #999;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    gap: 2rem;
}
.profile_left{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.assignstatus button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #999;
    border-radius: 10px;
    background: #FFB4B4;
}
.assignstatus_c button{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 1px solid #999;
    border-radius: 10px;
    background: #C4F0D6;
}