.Event{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span{
    padding-bottom: 1rem;
}
.span span{
    color: black;
}
.left_event{
    display: grid;
    gap: 1rem;
}
.pay{
    width: 370px;
    height: 350px;
    margin-right: 2rem;
    background: linear-gradient(128.11deg, #FFFFFF -15.74%, #FF9090 57.21%, #FF0C0C 153.55%);
    border: 1px solid linear-gradient(128.11deg, #FFFFFF -15.74%, #FF9090 57.21%, #FF0C0C 153.55%);
    border-radius: 10px;
}

.pay_content{
    display: grid;
    margin:3.5rem;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    place-items: center;
}
.pay_up{
    display: grid;
    align-items: center;
}
.rup{
    display: flex;
    align-items: center;
}
.icons_h{
    font-size: 3rem;
    color: black;
}
.pay_up span{
    font-size: 3rem;
    color: black;
}

.button{
    padding: 1rem 6rem 1rem 6rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
